@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 400vh;
}

nav.menu-lateral {
    width: 66px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0;
    border-right: 5px solid #ff0077;

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: 0.5s;

    &.expandir { /*CLASS CRIADA NO JS*/
        width: 260px;

        .text-link {
            margin-left: 20px;
            opacity: 1;
        }
    }
}

.btn-expandir {
    width: 100%;
    padding: 10px;

    i {
        color: white;
        font-size: 30px;
        cursor: pointer;
        margin-left: 7%;
    }
}

ul {
    height: 100%;
    list-style-type: none;

    .item-menu {
        padding-left: 5%;
        transition: 0.5s;

        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
            padding: 20px 4%;
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 20px;

            .icon {
                font-size: 30px;
                margin-left: 8px;
            }

            .text-link {
                margin-left: 70px;
                transition: 0.8s;
                opacity: 0;
            }
        }

        &:hover {
            background-color: #ff0077;
        }
    }

    .ativo { /*CLASSE CRIADA PELO JS*/
        background-color: #ff0077;
    }
}

section {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 80px;

    @media screen and (max-width: 768px) {
        align-items: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    max-width: 350px;
    border: 2px solid #ff0077;
    border-radius: 10px;
    background-color: #202020;
    color: white;
    padding: 10px;

    h1 {
        text-align: center;
        font-size: 30px;
    }

    p {
        margin-top: 10px;
        text-align: justify;
    }

    .btn-card {
        margin-top: 15px;
        border: none;
        border-radius: 8px;
        background-color: #ff0077;
        text-decoration: none;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }
}